* {
  margin: 0px;
  padding: 0px;
  }

body {
  margin: 10px;
  padding: 10px;
  background-color: #009999;
  text-align: left;
  }

header{
  margin: 20;
  padding: 0;
  background: #fff;
  color: #ffffff;
  text-align: left;
  border-width: 5px;
  }

.logo h1 {
  font-family: 'Righteous', cursive;
  font-size:80px;
  color:#f2f2f2;
  text-align: center;
}

.item h2,h3 {
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
  font-size: 30px;
  color: #f2f2f2;
  padding: inherit;
  margin:inherit;
  text-align:left;
}

.item h3{
  font-size: 20px;
}

table,th {
  border:2px solid black;
}

th {
  padding: 5px;
  color: #d8d8d8;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}

.tablehead th{
  font-weight: bold;
}

p {
  text-align: justify;
  font-family: Lato;
  font-size: 16px;
  color: #990000;
}

.footnote p{
  text-align: center;
  padding: 5px;
  color: #d8d8d8;
  font-size: 20px;
  font-style: italic;
  font-family: 'Lato', sans-serif;
}
