/*Main Page-----------------------------------*/
* {
  margin: 0px;
  padding: 0px;
  }

body {
  margin: 10px;
  padding: 10px;
  background-color: #009999;
  text-align: left;
  }

header{
  margin: 20;
  padding: 0;
  background: #fff;
  color: #ffffff;
  text-align: left;
  border-width: 5px;
  }

.logo h1 {
  font-family: 'Righteous', cursive;
  font-size:80px;
  color:#f2f2f2;
  text-align: center;
}

.block{
    width:15rem;
    height:15rem;
    background-color: floralwhite;
    border-radius: 20%;
    display: inline-block;
    margin: 5px;
}

.block img {
    display: inline-block;
    width:15rem;
    margin-top: top: 5%;
    vertical-align: middle;
    float: center;
    width:  10rem;
    height: 10rem;
    object-fit: cover;
}

.block figcaption{
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    font-weight: bolder;
    font-size: 30px;
    color: #bbb;
    padding: inherit;
    margin:inherit;
    text-align:center;
}

.block:hover{
    background-color: #708090;
}

/*Item Pages-------------------------------------------*/

h2,h3 {
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
  font-size: 30px;
  color: #f2f2f2;
  padding: inherit;
  margin:inherit;
  text-align:left;
}

h3{
  font-size: 20px;
}

h4{
  text-align: center;
  padding: 5px;
  color: #d8d8d8;
  font-size: 20px;
  font-style: italic;
  font-family: 'Lato', sans-serif;
}


table,th {
  border:2px solid black;
}

th {
  padding: 5px;
  color: #d8d8d8;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}

.tablehead th{
  font-weight: bold;
}

p {
  text-align: justify;
  font-family: Lato;
  font-size: 16px;
  color: #990000;
}


/*Battlebot Rule Page---------------------------------*/
.bob img{
    width:25%;
    height:auto;
}

.pending p{
    text-align: center;
    font-size: 150%;
}
